/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */
@keyframes drop {
  from {transform: translateY(-380px);}
  to {transform: translateY(0px);}
  /* from {top: 500px;}
  to {top: 0%;} */
}
.piece {
  /*  make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  /* position: absolute; */
  border-radius: 50%;
  animation-name: drop;
  animation-duration: 3s;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: red;
}
.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
